.mood-element{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    padding: 4rem;
}

.user-video-feed {
    height: auto;
    width: 20rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    object-fit: cover;
}